<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="铝合金断桥铝门窗"/>
<meta name="keywords" content="铝合金，铝合金建材，铝合金断桥铝门窗，断桥铝门窗" />
<meta name="renderer" content="webkit" />
<meta name="applicable-device" content="pc" />
<link type="text/css" rel="stylesheet" href="./css/main.css"/>
<title>断桥铝门窗</title>
<body style="background-color: #fff">
include ./head.pug
		<div class="content_themes">

			include ./leftmenu/product_left_menu.pug

			<div class="right_content">
				<div class="block_title">
					<span class="chinese">工程案例</span><b class="english">Project Case</b>
				</div>

				<ul class="product_container">
					<li>
						<div><img src="./image/product_img/case/10231196.jpg"/></div>
						<b>木纹转印</b>

					</li>

					<li>
						<div><img src="./image/product_img/case/10231197.jpg"/></div>
						<b>香槟电泳</b>

					</li>
					<li>
						<div><img src="./image/product_img/case/10231198.jpg"/></div>
						<b>氟碳喷涂</b>

					</li>
					<li>
						<div><img src="./image/product_img/case/10231199.jpg"/></div>
						<b>喷涂型铝合金型材</b>
					</li>

					<li>
						<div><img src="./image/product_img/case/10231201.jpg"/></div>
						<b>木纹转印</b>

					</li>

					<li>
						<div><img src="./image/product_img/case/10231190.jpg"/></div>
						<b>香槟电泳</b>

					</li>
					<li>
						<div><img src="./image/product_img/case/10231193.jpg"/></div>
						<b>氟碳喷涂</b>

					</li>
					<li>
						<div><img src="./image/product_img/case/10231194.jpg"/></div>
						<b>喷涂型铝合金型材</b>
					</li>

					<li>
						<div><img src="./image/product_img/case/10231195.jpg"/></div>
						<b>喷涂型铝合金型材</b>
					</li>


					<li>
						<div><img src="./image/product_img/case/10231186.jpg"/></div>
						<b>喷涂型铝合金型材</b>
					</li>


					<li>
						<div><img src="./image/product_img/case/10231187.jpg"/></div>
						<b>喷涂型铝合金型材</b>
					</li>

					<li>
						<div><img src="./image/product_img/case/10231188.jpg"/></div>
						<b>喷涂型铝合金型材</b>
					</li>
					<li>
						<div><img src="./image/product_img/case/10231189.jpg"/></div>
						<b>喷涂型铝合金型材</b>
					</li>
					<li>
						<div><img src="./image/product_img/case/10231185.jpg"/></div>
						<b>喷涂型铝合金型材</b>
					</li>


				</ul>



			</div>


		</div>


include ./footer.pug
</body>