<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="铝合金断桥铝门窗"/>
<meta name="keywords" content="铝合金，铝合金建材，铝合金断桥铝门窗，断桥铝门窗" />
<meta name="renderer" content="webkit" />
<meta name="applicable-device" content="pc" />
<link type="text/css" rel="stylesheet" href="./css/main.css"/>
<title>断桥铝门窗</title>
<body style="background-color: #fff">
include ./head.pug
		
		<div class="content_themes">

			include ./leftmenu/product_left_menu.pug


			<div class="right_content">
				<div class="block_title">
					<span class="chinese">型材类别</span><b class="english">Product Category</b>
				</div>

				<ul class="product_container">
					<li>
						<div><img src="./image/product_img/cate/10214382.jpg"/></div>
						<b>木纹转印</b>

					</li>

					<li>
						<div><img src="./image/product_img/cate/10214346.jpg"/></div>
						<b>香槟电泳</b>

					</li>
					<li>
						<div><img src="./image/product_img/cate/10214279.jpg"/></div>
						<b>氟碳喷涂</b>

					</li>
					<li>
						<div><img src="./image/product_img/cate/10214320.jpg"/></div>
						<b>喷涂型铝合金型材</b>
					</li>

					<li>
						<div><img src="./image/product_img/cate/10214258.jpg"/></div>
						<b>木纹转印</b>

					</li>

					<li>
						<div><img src="./image/product_img/cate/10214125.jpg"/></div>
						<b>香槟电泳</b>

					</li>
					<li>
						<div><img src="./image/product_img/cate/10210860.jpg"/></div>
						<b>氟碳喷涂</b>

					</li>
					<li>
						<div><img src="./image/product_img/cate/10210830.jpg"/></div>
						<b>喷涂型铝合金型材</b>
					</li>

					<li>
						<div><img src="./image/product_img/cate/10210791.jpg"/></div>
						<b>喷涂型铝合金型材</b>
					</li>


					<li>
						<div><img src="./image/product_img/cate/10208550.jpg"/></div>
						<b>喷涂型铝合金型材</b>
					</li>


					<li>
						<div><img src="./image/product_img/cate/10208525.jpg"/></div>
						<b>喷涂型铝合金型材</b>
					</li>

					<li>
						<div><img src="./image/product_img/cate/10208481.jpg"/></div>
						<b>喷涂型铝合金型材</b>
					</li>
				
				</ul>



			</div>


		</div>

include ./footer.pug
</body>