<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="铝合金断桥铝门窗"/>
<meta name="keywords" content="铝合金，铝合金建材，铝合金断桥铝门窗，断桥铝门窗" />
<meta name="renderer" content="webkit" />
<meta name="applicable-device" content="pc" />
<link type="text/css" rel="stylesheet" href="./css/main.css"/>
<title>断桥铝门窗</title>
<body style="background-color: #fff">
include ./head.pug
	
<div class="content_themes">
	include ./leftmenu/about_us_left_menu.pug
	<div class="right_content">
		<div class="block_title">
			<span class="chinese">联系我们</span><b class="english">Contcat Us</b>
		</div>
		<ul class="diyFont contact_us_container">
			<li>
			<div>&#xe66a;</div>
			<div>电话:13083248353</div>
			</li>
			<li>
			<div>&#xe66f;</div>
			<div><a href="mailto:zhengqiangzi123@163.com">zhengqiangzi123@163.com</a></div>
			</li>
			<li>
			<div>&#xe680;</div>
			<div>安徽省宣城市宣城经济技术开发区</div>
			</li>
		</ul>
	</div>
</div>

include ./footer.pug
</body>