<div class="block_title">
	<span class="chinese">友情链接</span><b class="english">Friend Link</b>
</div>
<ul class="friend_link">
	<li><a href="http://www.sxalu.com/wzsy">安徽生信新材料股份有限公司</a></li>
	<li><a href="https://alu.ccmn.cn/">长江铝业网</a></li>
	<li><a href="https://shop.iyunhui.com/">安徽徽铝铝业有限公司</a></li>
</ul>
<div class="footer">联系电话：13083248353   地址：安徽省宣城经济技术开发区安徽生信新材料股份有限公司</div>