<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="铝合金断桥铝门窗"/>
<meta name="keywords" content="铝合金，铝合金建材，铝合金断桥铝门窗，断桥铝门窗" />
<meta name="renderer" content="webkit" />
<meta name="applicable-device" content="pc" />
<link type="text/css" rel="stylesheet" href="./css/main.css"/>
<title>断桥铝门窗</title>
<body style="background-color: #fff">
include ./head.pug

<div class="content_themes">
	include ./leftmenu/about_us_left_menu.pug

	<div class="right_content">

		<div class="block_title">
			<span class="chinese">公司简介</span><b class="english">Company Introduce</b>
		</div>
		<div class="contact_us_content">
		<img src="./image/company_desc.jpg"/>&nbsp;&nbsp;&nbsp;&nbsp;安徽生信新材料股份有限公司（原安徽生信铝业股份有限公司）是宣城市国有资本投资运营控股集团有限公司控股子公司。该公司位于宣城经济技术开发区，成立于2003年7月8日，注册资本1.3亿元，主要经营铝型材、铝棒、五金制品及模具的制造加工、销售，废旧物资回收，门窗及配件的销售，新能源汽车配件、轨道交通配件的生产及销售，是“高新技术企业”、“国家重合同守信用企业”，是合肥工业大学实践教学基地。重诚信。秉承“诚信生信 品质生信.责任生信”的发展理念，坚守“您的满意是我们永恒的追求”的经营理念，大力实施品牌发展战略，走科技创新之路，在不断的自主创新中发展、壮大。精业务。目前，公司拥有现代化挤压、喷涂、电泳等生产线60余条，可年产10万吨铝型材。产品涉及建筑、工业等领域，还可设计生产特殊型材。产品销往沪苏浙鲁豫等20多个省（市）自治区和欧美等国外市场。多荣誉。多年来，公司先后获得国家专利36项、软件著作权8项，并参与了4项国家标准、行业标准的起草和编制。此外，“生信”牌铝型材获得“国家免检产品”、“安徽名牌产品”等4项荣誉称号，“生信”商标被认定为“安徽著名商标”、“中国驰名商标”。</div>
	</div>
</div>
include ./footer.pug
</body>