<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="铝合金断桥铝门窗"/>
<meta name="keywords" content="铝合金，铝合金建材，铝合金断桥铝门窗，断桥铝门窗" />
<meta name="renderer" content="webkit" />
<meta name="applicable-device" content="pc" />
<link type="text/css" rel="stylesheet" href="./css/main.css"/>
<title>断桥铝门窗</title>
<body style="background-color: #fff">
include ./head.pug

		<div class="content_themes">
			include ./leftmenu/about_us_left_menu.pug

			<div class="right_content">
				<div class="block_title">
					<span class="chinese">销售网络</span><b class="english">Sales Network</b>
				</div>

				<div class="seller_container">
					<div>序号</div>
					<div>1</div>
					<div>2</div>
					<div>3</div>
					<div>4</div>
					<div>5</div>
					<div>6</div>
					<div>7</div>
					<div>8</div>
					<div>9</div>
					<div>10</div>
					<div>11</div>
					<div>姓名</div>
					<div>吴凤彬</div>
					<div>沈超</div>
					<div>贾文清</div>
					<div>杜和春</div>
					<div>王明</div>
					<div>谢忠余</div>
					<div>黄学理</div>
					<div>谭勇保</div>
					<div>徐正春</div>
					<div>杨红文</div>
					<div>吴静</div>
					<div>职务</div>
					<div>副总经理</div>
					<div>销售经理</div>
					<div>区域经理</div>
					<div>区域经理</div>
					<div>区域经理</div>
					<div>区域经理</div>
					<div>区域经理</div>
					<div>区域经理</div>
					<div>区域经理</div>
					<div>区域经理</div>
					<div>区域经理</div>
					<div>区域</div>
					<div>&nbsp;</div>
					<div>&nbsp;</div>
					<div>浙江区域</div>
					<div>杭州区域</div>
					<div>皖南区域</div>
					<div>河南区域</div>
					<div>江苏区域</div>
					<div>皖北区域</div>
					<div>上海区域</div>
					<div>上海区域</div>
					<div>国外</div>
			

				</div>


			</div>


		</div>


include ./footer.pug
</body>